# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/.DS_Store
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/UC/.DS_Store
src/main/java/UC/KirchePlus/.DS_Store
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.DS_Store
gradlew.bat
gradlew
gradle.properties
